<div>
	
	<div class="row">
		<div class="card-title col-xs-12 {{current.color}}">
			{{t.title}}
		</div>
	</div>

	<div class="row" ng-if="current.carousel">
		<carousel/>
	</div>

	<div class="row card">
		<div class="card-text col-xs-12 {{current.color}}">

			<b ng-if="t.details">DETAILS</b>
			<div ng-repeat="d in t.details">
				<p>{{d.value}}</p>
			</div>

			<b ng-if="t.infoChilds">INFO CHILDS</b>
			<div ng-repeat="i in t.infoChilds">
				<div ng-repeat = "item in i.details">
					<b>{{item.key}}</b>:{{item.value}}
					<br></br>
				</div>
			</div>

			<b ng-if="t.plannedProducts">PLANNED PRODUCTS</b>
			<div ng-repeat="p in t.plannedProducts">
				<p>{{p.value}}</p>
			</div>

		</div>


	</div>

</div>