<div  class="carousel slide" ng-controller="carouselCtrl">
  <!-- Indicators -->
    <ol ng-if="carousel.length > 1" class="carousel-indicators">
        <li class="dots" ng-repeat="i in carousel" ng-class="{'active': i.active}"></li>
    </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner black" style="height: 40vh;" role="listbox">
        <div class="item fill" ng-class="{'active': i.active}" ng-repeat="i in carousel">
            <img class="animated" style="height: 100%; width: auto;" ng-class="{'fadeIn': i.active}" ng-src="{{i.image}}">
        </div>
    </div>

    <div ng-if="carousel.length > 1">
  <!-- Left and right controls -->
        <a class="left carousel-control" ng-click="activatePrev()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" ng-click="activateNext()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>