<div class="row" ng-show="numValidTiles === 8">
	<eighttiles />
</div>

<div class="row" ng-show="numValidTiles === 7">
	<seventiles />
</div>

<div class="row" ng-show="numValidTiles === 6">
	<sixtiles />
</div>

<div class="row" ng-show="numValidTiles === 5">
	<fivetiles />
</div>

<div class="row" ng-show="numValidTiles === 4">
	<fourtiles />
</div>

<div class="row" ng-show="numValidTiles === 3">
	<threetiles />
</div>

<div class="row" ng-show="numValidTiles === 2">
	<twotiles />
</div>

<div style="position: relative;" ng-class="{'social-expand': expand }" 
	class="row row-responsive-size light-green animated fadeInUp">
	<social/>
</div>