<!-- <a ui-sref=".profile">askdjf</a> -->
<div class="row" >
	<div ng-repeat="t in tiles" class="col-xs-6 col-md-3 {{t.side}}"  ng-show="t.valid" ui-sref="{{t.link}}">
		<div class="tile {{t.color}} ">
			<img class="tile-img" src="{{t.image}}">
			<div class="tile-text">{{t.content}}</div>
		</div>
	</div>
</div>
<div class="row row-lg-size" style="overflow: hidden;">
	<div class="col-xs-12 col-md-12 light-green social-footer">
		<div class="footer-title">Social Connect</div>
		<social/>
	</div>	
</div>

