<div class="row card">
	<header/>
</div>

<div class="row card" >
	<div class="card-text col-xs-12 {{current.color}}">
		<div class="card-title">PRODUCT NAME</div>
	</div>


	<div ng-show="current.data.carousel" class="col-xs-12 padding-none">
		<carousel/>
	</div>

	<div class="card-text col-xs-12 {{current.color}}">
		<p><b>Lotto:</b> </p>
		<p><b>Data Lotto:</b>  </p>
		<p><b>Name </b> </p>
		<p><b>Dettagli:</b>  </p>
		<p><b>Descrizione (Italiano)</b>  </p>
		<p><b>Description (English)</b>  </p>
		<p><b>Prodotti </b> </p>

	</div>
</div>

<div class="row gray">
	<social/>
</div>
