<div class="animated {{animateIn}} {{animateOut}} font-black">
	
	<div>
		<header/>
	</div>


	<div class="minimum-width card-title col-xs-12 {{current.color}}">
		{{title.value}}
	</div>

	<div class="minimum-width black carousel-inner carousel-height" role="listbox">
    	<div class="item carousel-height active" style="position: relative;">
        	<img  
           	class="carousel-media active" ng-src="{{'http://localhost:8080/trust/api/file/getImageWithFarm/' + data.farmId + '/normal/' + img.value}}">
    	</div>
    </div>

	<div class="minimum-width card-text col-xs-12 {{current.color}}" ng-bind-html="info.value"></div>

	<social class="minimum-width col-xs-12 gray" style="margin: 0;" ng-controller="socialCtrl"/>

</div>