<div class=" animated {{animateIn}} {{animateOut}}">
	
	<div>
		<header/>
	</div>


	<div class="minimum-width card-title col-xs-12 {{current.color}}">
		PRODUCT NAME
	</div>

	<div class="minimum-width">
		<div class="card-text col-xs-6" ng-repeat = "c in charts" >
			<donutchart></donutchart>
		</div>
	</div>

	<div class="minimum-width card-text col-xs-12 {{current.color}}">
		<p><b>Info:</b> </p>
		<p>Lorem ipsum dolor sit amet, ea eos nibh modus accommodare, sed probo ridens eu, et aperiam platonem pro. Phaedrum voluptatum mei in, ei ceteros dissentias ullamcorper eos, ius ex case quaerendum. Vim eu brute appetere, sale eripuit ne pro. Nam te wisi harum albucius, id est dico habeo atqui. Duo amet modus facete te. Ad atomorum mnesarchum referrentur mel, ne sed stet semper, et vis rebum possit voluptua. Ne est propriae splendide, est et odio dolorem.</p>
	</div>
</div>