<div class="row card">
	<header/>
</div>

<div class="row overlay-container" ng-controller="profileCtrl">
	<div class="fill header-pic-container">
		<img class="logo" src="img/farm.jpg">
	</div>

	<div class="overlay-tab-sm">
		<img class="logo" src="img/farm-logo.png">
	</div>

	<div class="fill profile-pic-container center">
		<img src="img/farm-logo.jpg">
	</div>

	<div class="profile-title">
		Company Name<br/>
		<p>Company Owner</p>
	</div>

	<div class="card-text">
	Lorem ipsum dolor sit amet, ea eos nibh modus accommodare, sed probo ridens eu, et aperiam platonem pro. Phaedrum voluptatum mei in, ei ceteros dissentias ullamcorper eos, ius ex case quaerendum. Vim eu brute appetere, sale eripuit ne pro. Nam te wisi harum albucius, id est dico habeo atqui. Duo amet modus facete te. Ad atomorum mnesarchum referrentur mel, ne sed stet semper, et vis rebum possit voluptua. Ne est propriae splendide, est et odio dolorem.

	Ne oblique persius vel, patrioque dissentiet no nam, usu regione habemus in. Falli sensibus duo cu, autem audiam latine an eam. Te deserunt recteque duo. Docendi apeirian inciderint eos ad. His id graeco referrentur, eu mea ceteros pertinax. Vel at vide posse.

	Indoctum forensibus et est, qui paulo patrioque splendide ne. Ea partiendo signiferumque qui, solet platonem vulputate ea mel. Offendit lobortis eum ei. Dicam soluta scripserit per ad, veritus interesset qui an. Esse dicit eu vis.

	Quidam adolescens argumentum eam et. Mutat omnium impedit qui an. Sit probo velit ut, eum ne errem scribentur. Ad partem regione pri, pro rebum primis conclusionemque ut. Omnium perpetua incorrupte mea no. Te everti torquatos mea.

	</div>

	<div class="card-text">
		<table class="margin-bottom">
			<tr ng-repeat="c in contacts">
				<td class="contact-pic-container">
					<img ng-src="{{c.image}}">
				</td>
				<td style="padding-left: 20px;">
					{{c.link}}
				</td>
			</tr>
		</table>
	</div>

	<!-- don't remove this container you will regret it -->
	<div class="container">
		<div class="row gray" style="overflow-x: hidden">
			<social/>
		</div>
	</div>

</div>

