<div class="row card">
	<header/>
</div>

<div class="row overlay-container-sm" ui-sref="home">
	<div class="fill">
		<img src="img/farm.jpg">
	</div>

	<div class="overlay-tab-sm">
		<img class="logo" src="img/farm-logo.png">
	</div>
</div>


<div class="fill profile-pic-container center">
	<img src="img/farm-logo.jpg">
</div>


<div class="card" >
	<div class="profile-title">
		Company Name<br/>
		<p>Company Owner</p>
	</div>
	<div class="card-text">
		Lorem ipsum dolor sit amet, ea eos nibh modus accommodare, sed probo ridens eu, et aperiam platonem pro. Phaedrum voluptatum mei in, ei ceteros dissentias ullamcorper eos, ius ex case quaerendum. Vim eu brute appetere, sale eripuit ne pro. Nam te wisi harum albucius, id est dico habeo atqui. Duo amet modus facete te. Ad atomorum mnesarchum referrentur mel, ne sed stet semper, et vis rebum possit voluptua. Ne est propriae splendide, est et odio dolorem.

		Ne oblique persius vel, patrioque dissentiet no nam, usu regione habemus in. Falli sensibus duo cu, autem audiam latine an eam. Te deserunt recteque duo. Docendi apeirian inciderint eos ad. His id graeco referrentur, eu mea ceteros pertinax. Vel at vide posse.

		Ne oblique persius vel, patrioque dissentiet no nam, usu regione habemus in. Falli sensibus duo cu, autem audiam latine an eam. Te deserunt recteque duo. Docendi apeirian inciderint eos ad. His id graeco referrentur, eu mea ceteros pertinax. Vel at vide posse.
	</div>
</div>


<div class="row gray">
	<social/>
</div>