<div class="row card">
	<header/>
</div>

<div class="row overlay-container-sm" ui-sref="home">
	<div class="fill">
		<img src="img/farm.jpg">
	</div>

	<div class="overlay-tab-sm">
		<img class="logo" src="img/farm-logo.png">
	</div>
</div>


<div class="fill profile-pic-container center">
	<img src="img/farm-logo.jpg">
</div>


<div class="card" >
	<div class="profile-title">
		Company Name<br/>
		<p>Company Owner</p>
	</div>
	<div class="card-text">
		<p  ng-bind-html="data.presentation"></p>
	</div>
</div>


<div class="row gray">
	<social/>
</div>