<div class="row card" scroll=no>
	<div class="col-xs-12 col-sm-6" style="overflow-x: hidden" ng-class="{'recipe-col-left': $even, 'recipe-col-right': $odd}"ng-repeat="d in data.list" ng-init = "id = d.id" >

		<div class="recipe-list-item overlay-container" ui-sref="recipe.detail({'id': d.id})" >
		    <div class="fill vignette-small">
		        <img ng-src="{{getImage(d)}}">
		    </div>

		    <div class="overlay-title-sm">
		        {{d.name}}<br/>
		    </div>
		</div>

	</div>
</div>



