<div  ng-controller="socialCtrl">

<!-- large social footer: only for medium and large screens -->
	<div class="col-xs-12 social-footer hidden-sm">
		<div class="hidden-sm col-xs-2 animated fadeInUp" ng-repeat="s in social">
	        <img class="social-img" ng-src="{{s.icon}}">
	    </div>
	</div>

<!-- small social footer NOT expanded: only for small and extra small screens -->
	<div class="col-xs-12 social-footer hidden-lg" ng-show="!expand">
	    <div class="col-xs-4 animated fadeInDown" ng-repeat="s in social | limitTo : 3">
	        <img class="social-img" ng-src="{{s.icon}}">
	    </div>

	    <div class="col-xs-12 hidden-lg animated rotateIn" ng-click="showExpand(); scrollToBottom()">
	        <i class="fa fa-chevron-down fa-2x social-img" aria-hidden="true"></i>
	    </div>
	</div>

<!-- small social footer expanded: only for small and extra small screens -->
	<div class="col-xs-12 social-footer-lg hidden-lg" ng-show="expand">
		<div class="col-xs-12 animated rotateIn" ng-click="hideExpand()">
	        <i class="fa fa-chevron-up fa-2x social-img social-arrow-top" aria-hidden="true"></i>
	    </div>

	    <div class="col-xs-4 social-col animated fadeInUp" ng-repeat="s in social">
	        <img class="social-img" ng-src="{{s.icon}}">
	    </div>
	</div>
</div>




