<div  ng-controller="socialCtrl">

<!-- large social footer: only for medium and large screens -->
    <div class="col-xs-12 social-footer hidden-sm">
        <div class="hidden-sm col-xs-2 animated fadeInUp" ng-repeat="s in social">
            <img class="social-img" ng-src="{{s.icon}}">
        </div>
    </div>

<!-- small social footer NOT expanded: only for small and extra small screens -->
    <div class="col-xs-12 social-footer hidden-lg" ng-if="!expand">
        <div class="col-xs-4 animated fadeInDown" ng-repeat="s in social | limitTo : 3">
            <img class="social-img" ng-src="{{s.icon}}">
        </div>

        <div class="col-xs-12 hidden-lg social-img animated rotateIn" ng-click="showExpand(); scrollToBottom()" style="margin-top: 2vh">  
            <img class="social-img small-chevron" ng-src="{{iconhome + 'chevron_down.png'}}">
        </div>
    </div>

<!-- small social footer expanded: only for small and extra small screens -->
    <div class="col-xs-12 social-footer-lg hidden-lg" ng-if="expand">
        <div class="col-xs-12 animated rotateIn" ng-click="hideExpand()" style="margin-bottom: 4vh">
            <img class="social-img small-chevron" ng-src="{{iconhome + 'chevron_up.png'}}">
        </div>

        <div class="col-xs-4 social-col animated fadeInUp" ng-repeat="s in social">
            <img class="social-img" ng-src="{{s.icon}}">
        </div>
    </div>
    
</div>