<div ng-class="{'overlay-container': !expand, 'overlay-container-expanded': expand}" ng-controller="socialCtrl">
    <div class="fill" ng-class="{'vignette': !expand, 'vignette-expanded': expand}">
        <img ng-src="img/farm.jpg">
    </div>

    <div class="overlay-tab">
        <img class="logo" ng-src="img/farm-logo.png">
    </div>

    <div class="overlay-content">

        <div class="overlay-title">
            {{data.name}}<br/>
            <p>{{data.description}}</p>
        </div>
        
    </div>
     <div class="summary-social">
        <social/>
    </div>
</div>
