/*	VARIABLES - NO ORDER */

/*colors*/
$light-green: rgb(129,188,95);
$yellow: rgb(248, 220, 84);
$orange: rgb(246, 160, 73);
$red: rgb(244, 112, 74);
$brown: rgb(206, 147, 81);
$purple: rgb(186, 151, 191);
$blue: rgb(69, 192, 223);
$dark-green: rgb(86, 174, 124);
$gray: rgb(138,138,138);
$transparent-white: rgba(255,255,255,0.7);
$transparent-black: rgba(0,0,0,0.7);

/*font sizes*/
$font-normal: 16px;
$font-normal-responsive: 3.5vh;
$font-small-responsive: 2.5vh;
$font-title-xl-responsive: 6vh;

/*media size breaks*/
$max-width-xs: 767px;

$min-width-sm: 768px;
$max-width-sm: 991px;

$min-width-md: 992px;
$max-width-md: 1199px;

$min-width-lg: 1200px;


/* other */
$rounded-corners-bottom: 0px 0px 15px 15px; 


/* MIXINS */
@mixin footer-common {
	padding-right: 12vw;
	padding-left: 12vw;
	text-align: center;
	color: white;
}

@mixin overlay-common {
	position: relative;
}

@mixin padding-none {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

@mixin hover-opacity($opac) {
	&:hover{
		opacity: $opac;
	}
}

@mixin active-scale($factor) {
	&:active {
		@include transform(scale($factor, $factor));
	}
}

@mixin tile-animate {
    cursor: pointer;
    @include hover-opacity(.50);
    @include active-scale(0.9);
}

@mixin transform($trans){
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}


/*	MEDIA QUERIES - IN ORDER OF SIZE	*/
@media (max-width: $max-width-xs){
	.overlay-container {
		@include overlay-common;
		width: 100vw;
		height: 100vh;
		margin-left:-15px;
	}

	.overlay-container-sm {
		margin-left:-15px;
	}
}

@media (min-width: $min-width-sm){
	.overlay-container {
		@include overlay-common;
		height: 100vh;
		width: 100%;
	}
}

@media (max-width: $max-width-sm ) {
	/*tiles on the left side*/
	.left {
		@include padding-none;
		padding-right: 0.5vw;
		padding-bottom: 1vh;

	}
	/*tiles on the right side*/
	.right {
		@include padding-none;
		padding-left: 0.5vw;
		padding-bottom: 1vh;
	}

	.full {
		@include padding-none;
		padding-bottom: 1vh;
	}

	.social-footer {
		@include footer-common;
		padding-top: 3vh;
		padding-bottom: 2vh;
		height: 20vh;
		min-height: 75px;
	}

	.tile-8 {
		/* 20 + 4*1 + 4*19 = 100 */
		@include tile-animate;
		width: 100%;
		height: 19vh; 
		min-height: 70px;
	}

	.tile-7 {
		/* 20 + 4*1 + 4*19 = 100 */
		@include tile-animate;
		width: 100%;
		height: 19vh; 
		min-height: 70px;
	}

	.tile-6 {
		/* 20 + 3*1 + 3*25.65 = 100 */
		@include tile-animate;
		width: 100%;
		height: 25.65vh;
		min-height: 70px;
	}

	.tile-5 {
		/* 20 + 2*1 + 2*39 = 100 */
		@include tile-animate;
		width: 100%;
		height: 25.65vh;
		min-height: 70px;
	}

	.tile-4 {
		/* 20 + 2*1 + 2*39 = 100 */
		@include tile-animate;
		width: 100%;
		height: 39vh;
		min-height: 70px;
	}

	.tile-2 {
		/* 20 + 2*1 + 2*39 = 100 */
		@include tile-animate;
		width: 100%;
		height: 39vh;
		min-height: 70px;
	}

	.tile-3 {
		/* same as tile-4 */
		@include tile-animate;
		width: 100%;
		height: 25.6vh;
		min-height: 70px;
	}

	.social-col {
		padding-top: 1vh;
		padding-bottom: 1vh;
	}

	.social-footer-lg {
		@include footer-common;
		padding-top: 1vh;  /*social-height-xs*/
		padding-bottom: 2vh;
	}

	.social-arrow-top {
		padding-bottom: 2vh;
	}
}

@media (min-width: $min-width-md) {
	.left, .right, .full {
		padding-top: 1vh;
  		padding-bottom: 1vh;
	}

	.full {
		.tile-lg {
			height: 66vh; /*2x regular tile-lg height*/
			min-height: 204px;
		}

		.tile-img{
			top: 35%;
			height: 19%;
		}

		.tile-text {
			top: 40%;
		}
	}

	.tile-lg {
		@include tile-animate;
  		width: 100%;
  		height: 32vh;

  		min-height: 100px;
  	}

  	.social-footer {
		@include footer-common;
		padding-top: 5vh;
		height: 30vh; /*social-height-lg*/
		padding-bottom: 5vh;

		min-height: 75px;
	}

	.social-summary {
		height: 20vh;
	}

	.row-responsive-size {
		margin-left: 0;
		margin-right: 0;
		margin-top: 1vh;
	}
}



/*	CLASSES	- ALPHABETICAL	*/

.card {
	margin-bottom: 1%;
}

.card-text {
	padding: 3%;
	font-size: medium;
	@media (max-width: $max-width-xs) {
		font-size: small;
	}
}

.card-title {
	font-size: large;
	text-align: center;
	padding: 3%;
}

.carousel-height {
	height: 50vh;
	min-height: 25vw;
}

.chart-container {
	width: 50%;
	/*height: 90%; cannot set height*/

	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: $gray;

	.chart-data {
		margin-bottom: 5%;
	}
}


.contact-container {
	padding-bottom: 2%;
	img {
		width: 50px;
		height: 50px;
		min-height: 26px;
		min-width: 26px;
		display:inline-block;
		opacity: 0.75;
		@include hover-opacity(1);
		@include active-scale(0.9);
	}
	p {
		padding-left: 2%;
		max-width: 70vw;
		display:inline-block;

	}
}

.contact-text {
	display: inline-block;
	padding-left: 2%;
}

.fill { 
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100%;

	img {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
	}
}

.header-container {
	padding-left: 3%;
	padding-right: 3%;

	height: 60px;
	@media (max-width: $max-width-xs) {
		height: 45px;
	}
}

.header-title {
	vertical-align: middle;
	text-align: center;
	font-size: 25px;
	color: white;
	margin-top: 10px;

	.header-left {
		float: left;
	}

	.header-right {
		float: right;
		@include active-scale(0.9);
	}

	.header-left, .header-right {
		height: 40px;
		opacity: 0.7;
		@include hover-opacity(1);
	}

	@media (max-width: $max-width-xs) {
		font-size: 19px;
		margin-top: 7.5px;

		.header-left, .header-right {
			height: 30px;
		}
	}
}

.hidden-lg {
	@media (min-width: $min-width-md) {
		display: none;
	}
}

.hidden-sm {
	@media (max-width: $max-width-sm) {
		display: none;
	}
}

.icon-white {
	padding-left: 2%;
	font-color: white;
}

.innerPercentage {
	background-color: $gray; /*gray background color*/
	color: white; /*white font color*/
	border-radius: 50%; /*circular shape*/
	margin-left: auto; /*center horizontically*/
	margin-right: auto;
	margin-top: -80%;
	margin-bottom: 25%;
	width: 60%; /*fit within chart*/
	height: 60%;
	position: relative;

	h2 {
		width: 80%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 10%;
	}
}

.logo{
	height: 100%;
	width: auto;
}

.minimum-width {
	min-width: 300px;
}

.overlay-container {
	min-height: 350px;
}

.overlay-container-expanded {
	@include overlay-common;
	width: 100vw;
	height: 100vh;
	margin-left:-15px;
	height: 130vh;
	min-height: 455px;
}

.overlay-container-sm {
	@include overlay-common;
	height:45vh;
	min-height: 200px;
}

.overlay-footer {
	@extend %overlay-item;
  	top: 75%;
}

%overlay-item {
	left: 10%;
  	right: 10%;
  	width: 80%;
	position: absolute;
	margin: auto;
	text-align: center;
}

.overlay-social-row {
	@extend %overlay-item;
	bottom: 0;
  	top: 50%;
}

.overlay-tab {
	@extend %overlay-item;
	top: 0;
  	bottom: 85%;
  	border-radius: $rounded-corners-bottom;
  	background-color: $transparent-white;
}

.overlay-tab-sm {
	@extend %overlay-item;
	top: 0;
  	bottom: 65%;
  	border-radius: $rounded-corners-bottom;
  	background-color: $transparent-white;
}

.overlay-title {
	@extend %overlay-item;
	color: white;

	font-size: $font-title-xl-responsive;
	@media (max-height: 500px) {
		font-size: 30px;
	}

	overflow-x: auto;
	bottom: 25%;

	p{
		font-size: $font-normal-responsive;
		@media (max-height: 500px) {
			font-size: 17.5px;
		}
	}
}

.padding-none {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.profile-pic-container {
	border: 3px solid $light-green;

	@media  (max-height: 400px) {
		width: 150px;
		height: 150px;
		margin-top: -75px;
	}


	@media  (min-height: 401px) 
		and (max-height: 500px) {
		width: 180px;
		height: 180px;
		margin-top: -90px;
	}

	@media (min-height: 501px){
		width: 210px;
		height: 210px;
		margin-top: -105px;
	}

	border-radius: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	img {
		width: 100%;
		height: 100%;
	}
}

.profile-title {
	color: $light-green;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: xx-large;
	padding-top: 2%;
	p{
		/*font-size: $font-normal-responsive;*/
		font-size: x-large;
	}

	@media (max-width: $max-width-xs) {
		font-size: x-large;

		p {
			font-size: large;
		}
	}
}

.small-chevron, .social-img {
	opacity: 0.75;
	@include hover-opacity(1);
	@include active-scale(0.9);
}

.small-chevron {
	height: 4vh;
	min-height: 14px;
}

.social-expand {
	padding-top: 1vh;
	padding-bottom: 2vh;
	height: 35vh;
	min-height: 100px;		
}

.social-img {
	height: 7.5vh;
	min-height: 26px;
}

.social-sm {
	height: 6.5vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.summary-social {
	width: 100%;
	position: absolute;
	top: 77%;
}

.tile-img {
	height: 38%;
	display: block;
	position: relative;
	top: 20%;
	margin: auto;
	text-align:center;
}

.tile-text{
	font-size: large;
	@media (max-width: $max-width-sm){
		font-size: small;
	}
	color: white;
	text-align: center;
	position: relative;
	top: 30%;
}

.vignette {
	img {
		display: block;
	}

	&:after {
		@include transform(translate(-50%, -50%))
		content: '';
		position: absolute;
		top: 50%;
    	left: 50%;
    	width: 100%;
    	height: 100%;
		box-shadow: inset 0rem -55vh 15rem -13vh $transparent-black;
	}
}

.vignette-expanded {
	img {
		display: block;
	}

	&:after {
		@include transform(translate(-50%, -50%))
		content: '';
		position: absolute;
		top: 50%;
    	left: 50%;
    	width: 100%;
    	height: 100%;
		box-shadow: inset 0rem -67vh 15rem -13vh $transparent-black;
	}
}


/*	COLOR CLASSES	*/

.blue {
	background-color: $blue;
}

.brown {
	background-color: $brown;
}

.dark-green {
	background-color: $dark-green;
}

.gray {
	background-color: $gray;
}

.light-green{
	background-color: $light-green;
}

.orange{
	background-color: $orange;
}

.purple {
	background-color: $purple;
}

.red {
	background-color: $red;
}

.yellow{
	background-color: $yellow;
}

.black {
	background-color: black;
}





a:hover {
	text-decoration: none;
}






/*	IDs	- ALPHABETICAL	*/

#socialDash {
	@media (min-width: $min-width-md) {
		margin-left: 1vh;
		margin-right: 1vh;
	}
}

#tileContainer {
	@media (min-width: $min-width-md) {
		padding-left: 1vh;
		padding-right: 1vh;
	}
}

#tilesContainer {
	@media (min-width: $min-width-md) {
		margin-left: 0px;
		margin-right: 0px;
	}
}










#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
	z-index: 1001;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}



#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}



/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}


.loaded #loader-wrapper {
	visibility: hidden;
    
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out; 
            transition: all 0.3s 1s ease-out;
}


