/*	VARIABLES - NO ORDER */
$light-green: rgb(129,188,95);
$yellow: rgb(248, 220, 84);
$orange: rgb(246, 160, 73);
$red: rgb(244, 112, 74);
$brown: rgb(206, 147, 81);
$purple: rgb(186, 151, 191);
$blue: rgb(69, 192, 223);
$dark-green: rgb(86, 174, 124);
$gray: rgb(138,138,138);
$transparent-white: rgba(255,255,255,0.7);
$transparent-black: rgba(0,0,0,0.7);

$max-width-xs: 767px;

$min-width-sm: 768px;
$max-width-sm: 991px;

$min-width-md: 992px;
$max-width-md: 1199px;

$min-width-lg: 1200px;

$rounded-corners-bottom: 0px 0px 15px 15px; 

/*	MIXINS - ALPHABETICAL	*/
@mixin footer-common {
	/*width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 3%;
	padding-top: 3%;*/
	text-align: center;
	color: white;
}

@mixin overlay-common {
	position: relative;
	height: 100vh;
}

@mixin padding-none {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

@mixin transform($trans){
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}


/*	MEDIA QUERIES - IN ORDER OF SIZE	*/
@media (max-width: $max-width-xs){
	.overlay-container {
		@include overlay-common;
		width: 100vw;
		margin-left:-15px;
	}
	.social-footer {
		@include footer-common;
		padding-top: 3vh;
		height: 20vh;
		padding-bottom: 2vh;
	}

	.social-img {
		height: 7.5vh;
	}
}

@media (min-width: $min-width-sm){
	.overlay-container {
		@include overlay-common;
		width: 100%;
	}
}

@media (min-width: $min-width-sm) and (max-width: $max-width-sm){
	/*.social-img {
		width: 40%;
	}*/	
	.social-footer {
		@include footer-common;
		height: 20vh;
	}
}

@media (max-width: $max-width-sm ) {
	/*tiles on the left side*/
	.left {
		@include padding-none;
		padding-right: 0.5vw;
		padding-bottom: 1vh;

	}
	/*tiles on the right side*/
	.right {
		@include padding-none;
		padding-left: 0.5vw;
		padding-bottom: 1vh;
	}
	.tile {
		width: 100%;
		height: 19vh;
	}
}

@media (min-width: $min-width-md) {
	.left, .right {
		padding-top: 1vh;
  		padding-bottom: 1vh;
	}
	.tile {
  		width: 100%;
  		height: 32vh;
  	}

  	.social-footer {
		@include footer-common;
		height: 30vh;
	}

	/*.social-img {
		width: 30%;
	}*/

	.row-lg-size {
		padding-top: 1vh;
		padding-right: 1vw;
		padding-left: 1vw;
	}
}





/*	CLASSES	- ALPHABETICAL	*/


.card {
	margin-bottom: 1%;
}

.card-text {
	padding: 3%;
}

.card-title {
	font-size: 130%;
}


.fill { 
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100%;

	img {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
	}
}
/*.footer-title {
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 130%;
	text-align: center;
	color: white;
}*/

.header-container{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 4%;
	padding-right: 4%;


}

.header-title {
	font-size: 130%;
	color: white;
	display: inline-block;
}

.header-img {
	font-size: 130%;
	padding-right: 4%;
	width: 10%;
	display: inline-block;

}

.icon-white {
	padding-left: 2%;
	font-color: white;
}

.logo{
	height: 100%;
}

.overlay-item {
	position: absolute;
	margin: auto;
	text-align: center;
}

.overlay-row {
	@extend .overlay-item;
	bottom: 0;
  	left: 10%;
  	right: 10%;
  	width: 80%;
  	top: 85%;
  	color: white;
}

.overlay-tab {
	@extend .overlay-item;
	top: 0;
  	left: 10%;
  	right: 10%;
  	width: 80%;
  	bottom: 85%;
  	border-radius: $rounded-corners-bottom;
  	background-color: $transparent-white;
}

.overlay-text {
	@extend .overlay-item;
	bottom: 0;
  	left: 10%;
  	right: 10%;
  	width: 80%;
  	top: 70%;
  	color: white;
} 

.overlay-footer {
	@extend .overlay-item;
	top: 0;
  	left: 10%;
  	right: 10%;
  	width: 80%;
  	top: 94%;
  	color: white;
}

.padding-none {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.social-sm {
	width: 50px;
	margin-left: 2vw;
	margin-right: 2vw;
}

.tile-text{
	font-size: 120%;
	color: white;
	text-align: center;
	position: relative;
	top: 30%;
}

.tile-img {
	height: 38%;
	display: block;
	position: relative;
	top: 20%;
	margin: auto;
	text-align:center;
	
}

.vignette {
	img {
		display: block;
	}
	&:after {
		@include transform(translate(-50%, -50%))
		content: '';
		position: absolute;
		top: 50%;
    	left: 50%;
    	width: 100%;
    	height: 100%;
    	box-shadow: inset 0rem -35rem 15rem -13rem $transparent-black;
	}
}


/*	COLOR CLASSES	*/

.light-green{
	background-color: $light-green;

}

.yellow{
	background-color: $yellow;

}

.orange{
	background-color: $orange;

}

.red {
	background-color: $red;

}

.brown {
	background-color: $brown;

}

.purple {
	background-color: $purple;

}

.blue {
	background-color: $blue;

}

.dark-green {
	background-color: $dark-green;
}

.gray {
	background-color: $gray;
}


a:hover {
	text-decoration: none;
}


.header-pic-container {
	height: 25vw;
}

.header-tab {
	@extend .overlay-item;
	top: 0;
  	left: 10%;
  	right: 10%;
  	width: 60%;
  	height: 9vw;
  	border-radius: $rounded-corners-bottom;
  	background-color: $transparent-white;
}

.profile-pic-container {
	border: 2px solid $light-green;
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	position: relative;
	margin-top: -10vw;
	margin-left: auto;
	margin-right: auto;
	
	img {
		width: 100%;
		height: 100%;
	}
}

.heading {
	color: $light-green;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#contact-table {
	margin-bottom: 2%;
}

.contact-pic-container {
	width: 50px;
	height: 50px;
	Adisplay: inline;

	img {
		width: 100%;
		height: 100%;
	}
}









