<div ng-repeat="t in validTiles" 
	class="animated" 
	id="tileContainer"
	ng-class="{
		'{{classes}}': !$first,
		'{{first}}': $first,
		'fadeInDown': $first && (size === 'sm' || size === 'xs') || (size === 'md' || size === 'lg'),  
		'fadeInLeft': $odd && !$first && (size === 'sm' || size === 'xs'), 
		'fadeInRight': $even && !$first && (size === 'sm' || size === 'xs'), 
		'left': $odd && !$first, 
		'right': $even && !$first }" 
	ng-click="animateLink(t.link, $first, $even)">

	<div class="{{tilesize}} tile-animate tile-lg {{t.color}} ">
		<img class="tile-img" ng-src="{{t.image}}">
		<div class="tile-text">{{t.content}}</div>
	</div>
</div>