/*	VARIABLES - NO ORDER */
/*colors*/
/*font sizes*/
/*media size breaks*/
/*other*/
/*	MIXINS - ALPHABETICAL	*/
/*	MEDIA QUERIES - IN ORDER OF SIZE	*/
@media (max-width: 767px) {
  .overlay-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-left: -15px; }
  .social-footer {
    padding-right: 12vw;
    padding-left: 12vw;
    text-align: center;
    color: white;
    padding-top: 3vh;
    height: 20vh;
    padding-bottom: 2vh; }
  .social-img {
    height: 7.5vh; } }

@media (min-width: 768px) {
  .overlay-container {
    position: relative;
    height: 100vh;
    width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .social-footer {
    padding-right: 12vw;
    padding-left: 12vw;
    text-align: center;
    color: white;
    padding-top: 3vh;
    height: 20vh;
    padding-bottom: 1vh; }
  .social-img {
    height: 8vh; } }

@media (max-width: 991px) {
  /*tiles on the left side*/
  .left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-right: 0.5vw;
    padding-bottom: 1vh; }
  /*tiles on the right side*/
  .right {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-left: 0.5vw;
    padding-bottom: 1vh; }
  .tile {
    width: 100%;
    height: 19vh; } }

@media (min-width: 992px) {
  .left, .right {
    padding-top: 1vh;
    padding-bottom: 1vh; }
  .tile {
    width: 100%;
    height: 32vh; }
  .social-footer {
    padding-right: 12vw;
    padding-left: 12vw;
    text-align: center;
    color: white;
    padding-top: 5vh;
    height: 30vh;
    padding-bottom: 5vh; }
  .social-img {
    height: 10vh; }
  .row-responsive-size {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1vh; } }

/*	CLASSES	- ALPHABETICAL	*/
.card {
  margin-bottom: 1%; }

.card-text {
  padding: 3%; }

.card-title {
  font-size: 130%; }

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%; }
  .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%; }

.header-container {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 4%; }

.header-title {
  font-size: 130%;
  color: white;
  display: inline-block; }

.header-img {
  font-size: 130%;
  padding-right: 4%;
  width: 10%;
  display: inline-block; }

.icon-white {
  padding-left: 2%;
  font-color: white; }

.logo {
  height: 100%; }

.overlay-item, .overlay-social-row, .overlay-tab, .overlay-content, .overlay-title, .overlay-footer, .header-tab {
  left: 10%;
  right: 10%;
  width: 80%;
  position: absolute;
  margin: auto;
  text-align: center; }

.overlay-social-row {
  bottom: 0;
  top: 50%; }

.overlay-tab {
  top: 0;
  bottom: 85%;
  border-radius: 0px 0px 15px 15px;
  background-color: rgba(255, 255, 255, 0.75); }

.overlay-content {
  bottom: 0;
  top: 65%;
  color: white; }

.overlay-title {
  font-size: 7vh;
  top: 0; }
  .overlay-title p {
    font-size: 3vh; }

.overlay-footer {
  top: 75%; }

.padding-none {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0; }

.social-sm {
  height: 6.5vh;
  margin-left: 3vw;
  margin-right: 3vw; }

.tile-text {
  font-size: 3vh;
  color: white;
  text-align: center;
  position: relative;
  top: 30%; }

.tile-img {
  height: 38%;
  display: block;
  position: relative;
  top: 20%;
  margin: auto;
  text-align: center; }

.vignette img {
  display: block; }

.vignette:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  box-shadow: inset 0rem -48vh 15rem -13vh rgba(0, 0, 0, 0.75);
  /*    	@media (max-width: $max-width-xs){
			box-shadow: inset 0rem -35rem 15rem -13rem $transparent-black;
		}

		@media (min-width: $min-width-sm) and (max-width: $max-width-sm){
			box-shadow: inset 0rem -35rem 15rem -13rem $transparent-black;

		}
		@media (min-width: $min-width-md) and (max-width: $max-width-md){
			box-shadow: inset 0rem -35rem 15rem -13rem $transparent-black;

		}
		@media (min-width: $min-width-lg){
			box-shadow: inset 0rem -45rem 15rem -13rem $transparent-black;

		}*/ }

/*	COLOR CLASSES	*/
.light-green {
  background-color: #81bc5f; }

.yellow {
  background-color: #f8dc54; }

.orange {
  background-color: #f6a049; }

.red {
  background-color: #f4704a; }

.brown {
  background-color: #ce9351; }

.purple {
  background-color: #ba97bf; }

.blue {
  background-color: #45c0df; }

.dark-green {
  background-color: #56ae7c; }

.gray {
  background-color: #8a8a8a; }

a:hover {
  text-decoration: none; }

.header-pic-container {
  height: 25vw; }

.header-tab {
  top: 0;
  left: 10%;
  right: 10%;
  width: 60%;
  height: 9vw;
  border-radius: 0px 0px 15px 15px;
  background-color: rgba(255, 255, 255, 0.75); }

.profile-pic-container {
  border: 2px solid #81bc5f;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  position: relative;
  margin-top: -10vw;
  margin-left: auto;
  margin-right: auto; }
  .profile-pic-container img {
    width: 100%;
    height: 100%; }

.heading {
  color: #81bc5f;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#contact-table {
  margin-bottom: 2%; }

.contact-pic-container {
  width: 50px;
  height: 50px;
  Adisplay: inline; }
  .contact-pic-container img {
    width: 100%;
    height: 100%; }
